configure
aclocal.m4
config/
autom4te.cache/
config.log
config.status
src/.deps/
src/platform.h
src/snow
src/stamp-h1
Makefile
Makefile.in
libtool
src/Makefile
src/Makefile.in
src/platform.h.in

*.patch
*.html
*.pcap
*.swp
*.swo
*.dat
*.o
*~
src/snow_selftest
